@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  @apply max-h-full max-w-60 p-2 min-[330px]:max-w-80 min-[400px]:max-w-96 min-[420px]:max-w-full min-[480px]:p-4 md:mx-auto md:max-h-[1123px] md:max-w-[794px] md:rounded md:border md:shadow-md;
}

h1 {
  @apply mb-0 mt-0 text-[20px] font-semibold leading-[20px];
}

h2 {
  @apply my-1 text-[16px] font-medium leading-[16px];
}

h3 {
  @apply mb-1 mt-2 text-[14px] font-semibold leading-[14px];
}

h4 {
  @apply mb-1 mt-0 text-balance text-[15px] leading-[20px];
}

h5 {
  @apply mx-auto max-w-[800px] text-balance text-[13px] leading-[13px];
}

p {
  @apply mb-0 mt-0.5 overflow-x-clip text-balance text-[13px] leading-[13px];
}

a {
  @apply text-blue-600 hover:text-blue-800;
}

ul {
  @apply mb-1.5 mt-0.5 list-inside list-disc text-balance pl-0.5;
}

li {
  @apply mb-0 mt-0.5 text-balance text-[13px] leading-[13px];
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0;
  height: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 0;
  border: none;
}
